/*-------------------- standard styles for websites --------------------*/
@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');
html {
  scroll-behavior: smooth;
  font-size: 1rem;
  scroll-padding-top: 70px;
}

body {
  background-image: url('./assets/images/favicon.png');
  color: #313639;
  background-color: #ccf5ff;
  font-family: Lato;
background-color: #ccf5ff;
}

.title-role{
  letter-spacing: 0.15rem;

}
.alert {
    position: relative;
    padding: 5px;
    margin-bottom: 1rem;
    border: 3px solid rgb(11 125 247 / 81%);
    border-radius: .25rem;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    font-family: "Roboto", sans-serif;
}
.line1, .line2, .line3, .line4, .line5, .line6, .line7, .line8, .line9 {
  /* position: relative; */
  left: 50%;
  /* margin-left: -11.5em; */
  text-align: left;
  font-size: 1em;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  display: block;

  }
  
  .cursor1, .cursor2, .cursor3, .cursor4, .cursor5, .cursor6, .cursor7, .line8, .line9 {
  color: #fff;
  font-weight: bold;
  }

.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  left: 0.4em;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
  }
  
  .fakeMinimize {
  background-color: #ffc100;
  border-color: #9d802c;
  }
  
  .fakeZoom {
  background-color: #00d742;
  border-color: #049931;
  }
  
  .fakeMenu {
  /* width: 350px; */
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  }
  
  .fakeScreen {
  background-color: #151515;
  box-sizing: border-box;
  /* width: 350px; */
  height: 90vh;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  }
  

  
  .line1 {
  -webkit-animation: type 2s 1s steps(20, end) forwards;
  -moz-animation: type 2s 1s steps(20, end) forwards;
  -o-animation: type 2s 1s steps(20, end) forwards;
  animation: type 2s 1s steps(20, end) forwards;
  }
  
  .cursor1 {
  -webkit-animation: blink 1s 2s 2 forwards;
  -moz-animation: blink 1s 2s 2 forwards;
  -o-animation: blink 1s 2s 2 forwards;
  animation: blink 1s 2s 2 forwards;
  }
  
  .line2 {
  -webkit-animation: type 2s 4s steps(20, end) forwards;
  -moz-animation: type 2s 4s steps(20, end) forwards;
  -o-animation: type 2s 4s steps(20, end) forwards;
  animation: type 2s 4s steps(20, end) forwards;
  }
  
  .cursor2 {
  -webkit-animation: blink 1s 5s 2 forwards;
  -moz-animation: blink 1s 5s 2 forwards;
  -o-animation: blink 1s 5s 2 forwards;
  animation: blink 1s 5s 2 forwards;
  }
  
  .line3 {
  -webkit-animation: type 2s 8s steps(20, end) forwards;
  -moz-animation: type 2s 8s steps(20, end) forwards;
  -o-animation: type 2s 8s steps(20, end) forwards;
  animation: type 2s 8s steps(20, end) forwards;
  }
  
  .cursor3 {
  -webkit-animation: blink 1s 9s 2 forwards;
  -moz-animation: blink 1s 9s 2 forwards;
  -o-animation: blink 1s 9s 2 forwards;
  animation: blink 1s 9s 2 forwards;
  }
  
  .line4 {
  -webkit-animation: type 2s 10s steps(20, end) forwards;
  -moz-animation: type 2s 10s steps(20, end) forwards;
  -o-animation: type 2s 10s steps(20, end) forwards;
  animation: type 2s 10s steps(20, end) forwards;
  }
  
  .cursor4 {
  -webkit-animation: blink 1s 11s forwards;
  -moz-animation: blink 1s 8s forwards;
  -o-animation: blink 1s 8s forwards;
  animation: blink 1s 8s forwards;
  }

  .line5 {
  -webkit-animation: type 2s 12s steps(20, end) forwards;
  -moz-animation: type 2s 12s steps(20, end) forwards;
  -o-animation: type 2s 12s steps(20, end) forwards;
  animation: type 2s 12s steps(20, end) forwards;
  }
  
  .cursor5 {
  -webkit-animation: blink 1s 11s forwards;
  -moz-animation: blink 1s 8s forwards;
  -o-animation: blink 1s 8s forwards;
  animation: blink 1s 8s forwards;
  }

  .line6 {
  -webkit-animation: type 2s 14s steps(20, end) forwards;
  -moz-animation: type 2s 14s steps(20, end) forwards;
  -o-animation: type 2s 14s steps(20, end) forwards;
  animation: type 2s 14s steps(20, end) forwards;
  }
  
  .cursor6 {
  -webkit-animation: blink 1s 12.5s forwards;
  -moz-animation: blink 1s 9.5s forwards;
  -o-animation: blink 1s 9.5s forwards;
  animation: blink 1s 9.5s forwards;
  }

  .line7 {
  -webkit-animation: type 2s 16s steps(20, end) forwards;
  -moz-animation: type 2s 16s steps(20, end) forwards;
  -o-animation: type 2s 16s steps(20, end) forwards;
  animation: type 2s 16s steps(20, end) forwards;
  }
  
  .cursor7 {
  -webkit-animation: blink 1s 14.5s forwards;
  -moz-animation: blink 1s 10.5s forwards;
  -o-animation: blink 1s 10.5s forwards;
  animation: blink 1s 10.5s forwards;
  }

  .line8 {
  -webkit-animation: type 2s 18s steps(20, end) forwards;
  -moz-animation: type 2s 18s steps(20, end) forwards;
  -o-animation: type 2s 18s steps(20, end) forwards;
  animation: type 2s 18s steps(20, end) forwards;
  }
  
  .cursor8 {
  -webkit-animation: blink 1s 14.5s forwards;
  -moz-animation: blink 1s 10.5s forwards;
  -o-animation: blink 1s 10.5s forwards;
  animation: blink 1s 10.5s forwards;
  }

  .line9 {
  -webkit-animation: type 2s 20s steps(20, end) forwards;
  -moz-animation: type 2s 20s steps(20, end) forwards;
  -o-animation: type 2s 20s steps(20, end) forwards;
  animation: type 2s 20s steps(20, end) forwards;
  }
  
  .cursor9 {
  -webkit-animation: blink 1s 15.5s infinite;
  -moz-animation: blink 1s 11.5s infinite;
  -o-animation: blink 1s 11.5s infinite;
  animation: blink 1s 11.5s infinite;
  }
  
  @-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  }
  
  @-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  }
  
  @-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  }
  
  @keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  }
  
  @-webkit-keyframes type {
  to {
    width: 18em;
  }
  }
  
  @-moz-keyframes type {
  to {
    width: 18em;
  }
  }
  
  @-o-keyframes type {
  to {
    width: 18em;
  }
  }
  
  @keyframes type {
  to {
    width: 18em;
  }
  }
  
.line1, .line2, .line3, .line4, .line5, .line6, .line7, .line8, .line9,
.cursor1, .cursor2, .cursor3, .cursor4, .cursor5, .cursor6, .cursor7, .line8, .line9
{color: #fff;}

.htmlElement {color: #9CD9F0;}
.htmlContent {color: #E09690;}
a[target]::after {
  content:url(img/external-link-alt-solid.svg);
  display:inline-block;
  width: 0.8em;
  padding-left: 0.4em;
}
.rightAndroid img {height: 90vh;}

.col-sm-6{
  font-family: "Roboto", sans-serif;
}
 #circle-container{
        
        height: 300px;
        padding: 30px;  
        border-style: solid;
        border-color: #cccccc;
        border-width:1px;
        border-radius: 50%;
        margin:0 auto;
    }

     #circle-cover-bg{
        position: relative;
        background:url(../images/try.jpg) no-repeat center center;
        border-radius: 50%;
        height: 100%;
    }



    #left-about{
        padding-top: 30px;
        width:33%;
        float:left;
    }

    #center-about{
        width:33%;
        margin: auto;
    }

    #right-about{
        padding-top: 30px;
        width:33%;
        float:right;
       
    }

    

    .left-about-heading{
        width: 50%;
        float:right;
        line-height: 20px;
        clear: both;
        margin-bottom: 50px;
    }



    .right-about-heading{
        width: 50%;
        float:left; 
        line-height: 20px;
        clear: both;
        margin-bottom: 50px;
    }

    #welcome{
    /* padding-top: 30px; */
    margin: 50 0 50 0;
    font-family: Oswald;
    font-size: 280%;
    letter-spacing: 3px;
    color: #555555;
    text-align: center; 
}


  h2 {
    text-transform: uppercase;
    font-family: Oswald;
    letter-spacing: 4px;
    color: #666666;
}

 nav a {
     text-decoration: none;
     font-size: 20px;
     letter-spacing: 4px;
     color: #777777;
 }  
 hr {
    border: 0;
    padding: 0;
    border-top: 1px solid #cccccc;
    width: 250px;
    margin-top: 0;
    margin-bottom: 5px;
    vertical-align: middle;
}
  .icon{
      width:6vh;
      transition: all .2s ease-in-out;
    }

  p{
    font-size: 90%;
}
.right-about-heading p {
    text-align: right;
}
.right-about-heading hr, .right-about-heading p {
    float: right;
}


.home-tab,
.skills-tab,
.projects-tab,
.experience-tab,
.client-projects-tab,
.team-projects-tab,
.personal-projects-tab,
.email-form-tab,
.project-detail-tab {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
}

.skills-tab {
  z-index: 2;
}

.projects-tab {
  z-index: 3;
}

.experience-tab {
  z-index: 4;
}

.client-projects-tab {
  z-index: 5;
}

.team-projects-tab {
  z-index: 6;
}

.personal-projects-tab {
  z-index: 7;
}

.project-detail-tab {
  z-index: 8;
}

.tab-container {
  width: 90vw;
  min-height: 60vh;
  border: solid 0.5px black;
  border-radius: 5px;
  position: absolute;
  box-shadow: 5px 8px 40px 0px #000000;
  -moz-box-shadow: 5px 8px 40px 0px #000000;
  -webkit-box-shadow: 5px 8px 40px 0px #000000;
}

.handle-dots-container {
  height: 30px;
  
  border-bottom: solid 0.2px black;
  display: flex;
  align-items: center;
  /* position: absolute; */
}

.tab-handle {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.red {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin: 0 4px 0 8px;
  background-color: #fc5b57;
  cursor: pointer;
}

.red-x {
  color: rgb(159, 11, 17);
}

.dot-symbol {
  display: none;
  text-align: center;
  margin-top: 1px;
  font-size: 12px;
  font-weight: bold;
}

.handle-dots-container:hover .dot-symbol {
  display: block;
}

.yellow {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #e5bf3c;
  margin: 4px;
}

.yellow-x {
  color: rgb(178, 140, 38);
}

.green {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #57c038;
  margin: 4px;
}

.green-x {
  color: rgb(8, 91, 10);
}

.tab-contents {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 0px 0px;
  padding: 10px 25px 0 25px;
  justify-content: space-between;
  overflow: scroll;
  height: 54.5vh;
}

.tab-contents-projects {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
  padding: 10px 25px 0 25px;
  overflow: scroll;
  height: 54.5vh;
}

.tab-contents-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tab-contents-sub-title {
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid;
  padding: 10px;
  user-select: none;
}

.icon-img {
    width: 11vh;
  transition: all .2s ease-in-out;
    
}

.skills-icon-container {
  height: auto;
}

.folder {
  margin: auto;
  padding: 16px;
  width: 100px;
  cursor: pointer;
}

.folder-top {
  width: 35px;
  height: 8px;
  border-radius: 2px 2px 0 0;
  background-color: rgb(207, 183, 121);
}

.folder-bod {
  width: 100px;
  height: 70px;
  border-radius: 0 5px 5px 5px;
  background-color: #edd18a;
  margin-bottom: 5px;
  position: relative;
}

.folder-bod-open {
  width: 98px;
  height: 63px;
  transform: skew(-7deg);
  background-color: #edd18a;
  position: unset;
  border-radius: 5px 5px 5px 0;
  margin-left: 8px;
  margin-top: 7px;
}

.folder-bod-open-back {
  width: 100px;
  height: 70px;
  border-radius: 0 5px 5px 5px;
  background-color: rgb(207, 183, 121);
  margin-bottom: 5px;
  position: absolute;
}

.folder-text {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.cv-file{
  font-family: "Roboto", sans-serif;
}

.pt-4{
      font-family: "Roboto", sans-serif;
}
.email-container {
  display: none;
  width: 100px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.email-icon {
  width: 80px;
}

.file {
  margin: 20px 35px 20px 35px;
  width: 70px;
  cursor: pointer;
}

.file-left {
  height: 20px;
  width: 50px;
  border-top: solid 0.2px black;
  border-left: solid 0.2px black;
  position: absolute;
  background-color: white;
}

.tab-title{
  margin: 0;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    font-family: "Roboto", sans-serif;
  }

  .tab-contents-sub-title {
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid;
    padding: 10px;
    user-select: none;
        font-family: "Roboto", sans-serif;
}

.file-corner {
  width: 0;
  height: 0;
  border-bottom: 20px solid rgb(203, 203, 203);
  border-right: 20px solid transparent;
  margin-left: 50px;
}

.file-bod {
  width: 70px;
  height: 70px;
  border-right: solid 0.2px black;
  border-bottom: solid 0.2px black;
  border-left: solid 0.2px black;
  margin-bottom: 5px;
  background-color: white;
}

.file-text {
  text-align: center;
}

.text-container {
  bottom: 0;
  padding: 15px;

}

.col-sm-12{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.tab-section {
  margin: auto;
  height: 50vh;
  display: flex;
  justify-content: center;
  position: sticky;
}

.tab-container {
    width: 374px;
    min-height: 10px;
}

.tab-contents {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 0px 0px;
    padding: 10px 25px 0 25px;
    justify-content: space-between;
    overflow: scroll;
    height: 40vh;
}

.text-center{
  margin-top: 1rem;
    margin-bottom: 1rem;
}

.block{
  margin-top: 1rem;
    margin-bottom: 1rem;
}
/* --- particles main ---- */
canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#particles canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #D81F3D;

  display: none;
}

.form-width{
  font-family: "Roboto", sanf serif;
}


#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

.text-muted{
  font-family: "Roboto", sans-serif;

}
h4 {
  letter-spacing: 0.1rem;
  line-height: 2;
}


.pt-4, .py-4 {
    padding-top: 4rem!important;
}
/*--------------------- logo ----------------------------*/

.logo {
  height: 2.5rem;
}

/*--------------------- nav styles -----------------------*/
nav {
    background-color: #40bf80;
}

.nav-link {
  letter-spacing: 0.1rem;
}

.hvr-underline-from-center:before {
  background: #8b4c70;
}

.hvr-underline-from-center:after {
  background: #8b4c70;
}
/*-------------------- fa icons --------------------*/

.fa {
  margin: 5px;
  margin-left: 0;
  padding: 10px;
  height: auto;
  width: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
  font-size: 1.5rem;
  color: #ffffff;
  background: #9589c1;
}

.fa:hover {
  background: #c2649a;
}

.fa-paper-plane {
  background: none;
}

.fa-paper-plane:hover {
  background: none;
}
/*--------------------------- Block ----------*/

.block {
  width: 70px;
  height: 5px;
  border: 0;
  background-color: #ea4492;
  background-color: #3077f9
}

.block-short {
  width: 50px;
}

.block-left {
  float:left;
}
.block-light {
  background-color: #e4dfd9;
}

.block-blue {
  background-color: #428cd4;
}

.block-purple {
  background-color: #8b4c70;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255, 255, 255);
}

/*----------------------------------Home--------*/

.home {
  margin-top: 100px;
  height: 480px;
}

/*-- Home animation---*/

#flip {
  height: 45px;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

#flip > div > div {
  color: #fff;
  text-align: center;
  padding: 4px 12px;
  height: 55px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  -webkit-animation: show 5s linear infinite;
          animation: show 5s linear infinite;
}

#flip div div {
  background: #ea4492;
}
#flip div:first-child div {
  background: #428cd4;
}
#flip div:last-child div {
  background: #c2649a;
}

@-webkit-keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

/*------------------ About  ----------*/
#about {
  background-color: #80f15be3;
      color: #000000;
}

.card {
  background-color: transparent;
  border: 0;
}

.get-in-touch {
  text-decoration: none;
    color: #ff8302;
      font-weight: bold;
}

.get-in-touch:hover {
  text-decoration: underline;
  color: #8bb9e4;
}

.about-links {
  color: #f1f1f1;
}

.about-links:hover {
  color: #f1f1f1;
}



.animated-icon2 {
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon2 span {
  background: -webkit-gradient(linear, right top, left top, from(#041b2d), to(#ea4492));
  background: -o-linear-gradient(right, #041b2d, #ea4492);
  background: linear-gradient(to left, #041b2d, #ea4492);
}

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/*-----------------------------Skills -------------*/

.progress-bar {
  background: -webkit-gradient(linear, right top, left top, from(#004e9a), to(#ea4492));
  background: -o-linear-gradient(right, #004e9a, #ea4492);
  background: linear-gradient(to left, #004e9a, #00e211);
}
.skill-title {
  letter-spacing: 0.04rem;
}



@-webkit-keyframes donut-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes donut-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

.svg-item {
  height: 100px;
  font-size: 16px;
  margin: 0.5rem;
}

.donut {
  margin-left: 0.2rem;
}

.donut-ring {
  stroke: #ebebeb;
}

.donut-segment {
  animation: donut-chart-fill 1s reverse ease-in;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  stroke: #42a926;
}

.donut-text {
  fill: #ea4492;
}

.donut-label {
  font-size: 0.28em;
  font-weight: 700;
  line-height: 1;
  fill: #000;
  -webkit-transform: translateY(0.25em);
      -ms-transform: translateY(0.25em);
          transform: translateY(0.25em);
}

.donut-percent {
  font-size: 0.5em;
  fill: #1828b1;
  line-height: 1;
  -webkit-transform: translateY(0.5em);
      -ms-transform: translateY(0.5em);
          transform: translateY(0.5em);
  text-align: center;
}

.text-center{
  font-size: 24px;
}

.mt-4{
  font-size:19px;
}
/*----------------------------- Portfolio ---------*/

#portfolio {
  background-color: #cca9bd;
}

.portfolio-intro {
  letter-spacing: 0.05rem;
  color: #3a4144;
  font-size: 1.2rem;
}
.step {
  color: #004e9a;
}
.step-title {
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Lato;
}

.portfolio-sub {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

.portfolio-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*-------------------------------Experience -----------*/

.dots {
  display: inline;
}
.experience-img {
  width: 100%;
}

.more {
  display: none;
}

.read {
  margin-top: 15px;
  background: -o-linear-gradient(345deg, #ea4492, #522157);
  background: linear-gradient(105deg, #ea4492, #522157);
  color: white;
  border: none;
  outline: none;
  padding: 8px 20px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 15px;
  border-radius: 1rem;
}

.read:hover {
  color: white;
}


/*-----------------------------Contact-----------*/

.form-width {
  padding-top: 10px;
  margin: 0 auto;
}

button[type="submit"] {
  margin-top: 15px;
  margin-bottom: 20px;
  color: #fafafa;
  background-color: #5ce026;
}

div .fa-paper-plane {
  font-size: 2.5rem;
  text-align: center;
  color: #5ce026;
}

.form-control:focus {
  border: 3px solid #c2649a;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0 !important;
}

.alert-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alert-status {
  font-size: 1.1rem;
}

/*-----------------------------Contact Modal-----------*/
.modal-header {
  background-color: #c2649a;
  color: #ffffff;
}

.modal-footer button {
  background-color: #c2649a;
  color: white;
}

/*-----------------------------Footer-----------*/
.footer {
background-color: #40bf80;
  color: #f1f1f1;
  margin-top: 25px;
}

.footer-button {
  background: #9589c1;
  display: inline-block;
  color: #f1f1f1;
}

.footer-button:hover {
  background: #c2649a;
  color: #f1f1f1;
}

.footer-copyright {
  font-size: 0.8rem;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
}


/*------------------ Media Queries ----------*/

/* Standard Styles */

@media (min-width: 320px) {
  .progress {
    margin-bottom: 0.4rem;
  }
}

@media (max-width: 766px) {
  .portfolio-img {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
}

@media (min-width: 568px) and (max-width: 990px) {
  .tech-skills,
  .soft-skills,
  .portfolio-right,
  .portfolio-left {
    margin-left: 0 !important;
  }
}

@media (min-width: 584px) and (max-width: 990px) {
  .navbar-brand {
    margin-left: 0.5rem;
  }
}

@media (max-width: 766px) {
  .title-role {
    font-size: 1.2rem;
    margin-top: 1rem;

  }

  #home {
    margin-top: 5rem;
  }

  #circle-container{
height: 300px;
    padding: 8px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}
}


@media (min-width: 768px) and (max-width: 769px) {
  .title-role {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

@media (min-width: 770px) and (max-width: 1199px) {
  .title-role {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .name {
    font-size: 4rem;
  }

  .intro-text {
    font-size: 15px;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  #flip {
    font-size: 15px;
  }
  .fa-github,
  .fa-linkedin,
  .fa-instagram,
  .fa-facebook-square {
    font-size: 15px;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .about-height {
    height: 339px;
  }

  .navbar-brand {
    margin-left: 0rem !important;
  }
  .form-width {
    max-width: 85%;
  }

  .contact-img {
    width: 109%;
    height: 107%;
  }
}
@media (min-width: 1200px) {
  .title-role {
    font-size: 1.4rem;
    margin-top: 1rem;
  }
  .intro-text {
    font-size: 18px;
    margin-top: 20px;
  }

  #flip {
    font-size: 15px;
  }

  .name {
    font-size: 4.5rem;
  }

  .fa-github,
  .fa-facebook-square {
    font-size: 18px;
    margin-top: 12px;
  }

  .standard-button {
    margin-top: 0.3rem;
  }

  .about-height {
    height: 269px;
  }
  .contact-img {
    width: 98.5%;
    height: 98.5%;
  }
}

